@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";
@keyframes slide-in {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.animate-slide-in {
    animation: slide-in 0.3s ease-out;
}


*{
    font-family: Outfit;
}

.active hr{
    @apply block
}

@theme{
    --color-primary: #6667AB;
    
}
::-webkit-scrollbar{
    @apply hidden
}
@layer utilities {
    .grid-cols-auto {
      @apply grid;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
    @media (max-width: 740px) {
        .active p{
            @apply text-white bg-primary
        }
    }
  }

